#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 50px;
  /* text-align: center */
  
};
#contact h2 {
  text-align: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact form input {
  max-width: 600px;
  min-height: 50px;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #007bff;
}
#contact form textarea {
  border: 2px solid #007bff;
  margin-bottom: 20px;
}
#contact form input::placeholder{
  font-size: 18px;
}

#contact form button {
  background: #007bff;
  outline: none;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
}