header {
  background: #007bff;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-header {
  max-width: 400px;
  border-radius: 50px;
}
.search-header input {
  outline: none;
  border: none;
  padding: 10px 30px ;
  width: 100%;
  border-radius: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}